.container:hover {
  border: 3px solid black;
  box-shadow: none;
}

.address {
  margin-top: 20%;
  margin-bottom: 1em;
}

.cardBody {
  padding: 0;
}

.text {
  margin-bottom: 0;
  font-size: 25px;
}